

<style>
  body {
    padding-top: 100px;
  }
</style>


  
<body>
  <div class="row">
      <div class="col-md-4"><br><br><br><br></div>
      <div class="col-md-4">
  
    <br><br><br><br>
      <blockquote> We are a couple of Dota fans that wanted an easy way to find people to play with that spoke English and wanted to communicate during matches.<br>
      We thought the <a href="http://www.reddit.com/r/compDota2">compDota2 subreddit</a> could be better so this is what came from it.
      <br>
      Some places we frequent include <a href="http://www.reddit.com/r/learndota2">Learn Dota2</a> and <a href="http://www.reddit.com/r/dota2">Dota2 Subreddit</a>. Check them out!
      </blockquote>
    
      </div>
    
    <div class="col-md-4"></div>
    </div> 

</body>
  