# app/views/welcome/index.html.erb

<style>
  body {
    padding-top: 60px;
  }
</style>
<div class="page-header">
</div>
<body>
  
  We are a couple of Dota fans that wanted an easy way to find people to play with that spoke English.
  
</body>